<nav [class.logged-in]="authService.isLoggedIn()">
  <div>
    <div>
      <ul>
        <li>
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
        </li>
        @if (authService.isLoggedIn()) {
          <div>
            <li>
              <a class="nav-link" routerLink="/worktime" routerLinkActive="active">Time Tracker</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/weekly-summary" routerLinkActive="active">Podsumowanie tygodnia</a>
            </li>
            <li>
              <a class="nav-link" routerLink="/calendar" routerLinkActive="active">Kalendarz</a>
            </li>
            <li>
              <a (click)="logout()">Wyloguj</a>
            </li>
          </div>
        } @else {
          <div>
            <li>
              <a class="nav-link" routerLink="/auth" routerLinkActive="active">Logowanie</a>
            </li>
          </div>
          <div class="container">
            <video 
              #backgroundVideo
              autoplay
              muted
              loop
              playsinline
              class="background-clip"
            >
              <source src="video.mp4" type="video/mp4" />
            </video>
          </div>
        }
      </ul>
    </div>
  </div>
</nav>


<main>
  <router-outlet></router-outlet>
</main>