<div class="container mt-4">
  <ng-container *ngIf="!loading">
    <div class="mb-4">
      <div class="nav-controls">
        <div class="custom-dropdown">
          <div 
            class="dropdown-input-box"
            [class.open]="isDropdownOpen"
            (click)="isDropdownOpen = !isDropdownOpen"
          >
            {{ selectedUserName || 'Select User' }}
          </div>
          <div class="dropdown-list" [class.open]="isDropdownOpen">
            <div class="dropdown-search-box">
              <form [formGroup]="searchForm">
                <input
                  type="search"
                  class="dropdown-search"
                  placeholder="Wpisz nazwę"
                  formControlName="searchTerm"
                  (click)="$event.stopPropagation()"
                />
              </form>
            </div>
            <div
              *ngFor="let user of filteredUsers"
              class="dropdown-option"
              [class.selected]="selectedUserId === user.id"
              (click)="handleUserSelect(user)"
            >
              {{ user.name }}
            </div>
          </div>
        </div>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleWeekChange(-1)"
        >
          ← Poprzedni tydzień
        </button>
        <button
          type="button"
          class="btn btn-primary"
          (click)="handleWeekChange(1)"
        >
          Następny tydzień →
        </button>
      </div>
    </div>

    <h1>Podsumowanie tygodnia</h1>
    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
    <table *ngIf="!errorMessage" class="table">
      <thead>
        <tr>
          <th>Dzień</th>
          <th>Całkowity czas</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let date of dailySummary | keyvalue">
          <td style="vertical-align: middle">
            {{ formatDate(date.key) }}
          </td>
          <td style="vertical-align: middle">
            {{ date.value.time }}
          </td>
          <td style="vertical-align: middle">
            <span
              [style.fontSize.px]="32"
              [style.verticalAlign]="'middle'"
              [style.color]="date.value.isActive ? 'yellow' : 'inherit'"
            >
              ●
            </span>
          </td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <th style="vertical-align: middle">Suma tygodniowa</th>
          <th style="vertical-align: middle">{{ weeklyTotal }}</th>
          <th></th>
        </tr>
      </tfoot>
    </table>
  </ng-container>
</div>
