<div class="auth-container">
    <div class="wrapper" [class.active]="isRegisterActive">
        <span class="rotate-bg"></span>
        <span class="rotate-bg2"></span>

        <div class="form-box login">
            <h2 class="title animation" style="--i:0; --j:21">Logowanie</h2>
            <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <div class="input-box animation" style="--i:1; --j:22">
                    <input type="email" formControlName="email" required>
                    <label for="">Email</label>
                </div>

                <div class="input-box animation" style="--i:2; --j:23">
                    <input type="password" formControlName="password" required>
                    <label for="">Hasło</label>
                </div>

                <button type="submit" class="btn animation" style="--i:3; --j:24">Zaloguj się</button>

                <div class="linkTxt animation" style="--i:5; --j:25">
                    <p>Nie masz jeszcze konta? <a href="#" class="register-link" (click)="toggleRegister($event)">Rejestracja</a></p>
                </div>
            </form>
        </div>

        <div class="info-text login">
            <h2 class="animation" style="--i:0; --j:20">Witaj!</h2>
            <p class="animation" style="--i:1; --j:21">Skorzystaj z systemu crm i sprawdź jego możliwości</p>
        </div>

        <div class="form-box register">
            <h2 class="title animation" style="--i:17; --j:0">Rejestracja</h2>
            <form [formGroup]="registerForm" (ngSubmit)="onRegister()">
                <div class="input-box animation" style="--i:18; --j:1">
                    <input type="email" formControlName="email" required>
                    <label for="">Email</label>
                </div>

                <div class="input-box animation" style="--i:20; --j:3">
                    <input type="password" formControlName="password" required>
                    <label for="">Hasło</label>
                </div>

                <button type="submit" class="btn animation" style="--i:21;--j:4">Zarejestruj</button>

                <div class="linkTxt animation" style="--i:22; --j:5">
                    <p>Masz już konto? <a href="#" class="login-link" (click)="toggleRegister($event)">Logowanie</a></p>
                </div>
            </form>
        </div>

        <div class="info-text register">
            <h2 class="animation" style="--i:17; --j:0;">Witaj!</h2>
            <p class="animation" style="--i:18; --j:1;">Skorzystaj z systemu crm i sprawdź jego możliwości</p>
        </div>
    </div>
</div>
